.u-section-1 .u-sheet-1 {
  min-height: 705px;
}

.u-section-1 .u-shape-1 {
  width: 503px;
  --radius: 23px;
  height: 228px;
  margin: 92px 22px 0 auto;
}

.u-section-1 .u-image-1 {
  width: 298px;
  height: 300px;
  --radius: 50px;
  margin: -193px 63px 0 auto;
}

.u-section-1 .u-text-1 {
  font-family: Comfortaa;
  margin: -323px 633px 60px 37px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 470px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 250px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 70px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-shape-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    margin-right: 42px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }
}